$text-link-size: 1.25rem;
$text-link-width: 700;
$text-link-width-lite: 400;
$text-link-lineHeight: 1.875rem;

$text-link-size-b: 1.875rem;
$text-link-lineHeight-b: 2.5rem;


$color-brown: rgba(195, 185, 181, 1);
$color-orange: rgba(255, 197, 158, 1);
$color-brown-1: rgba(89, 68, 63, 1);

$footer-title-size: 3.125rem;
$footer-title-width: 700;
$footer-title-lineHeight: 2.8494rem;


$text-main-size: 5rem;
$text-main-width-lite: 400;
$text-main-lineHeight: 6.875rem;
$text-main-width: 700;

//// container
$container-comp-large: 1750px;
$container-comp: 1140px;
$container-comp-min: 960px;
$container-tablet: 720px;
$container-mobile: 576px;
$container-mobile-min: 100%